langchain
python-dotenv
ipykernel
langchain_community
langchain_core
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
duckdb
pandas
requests
langchain-groq
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
SQLAlchemy
mysql-connector-python
duckduckgo-search

